<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
        body {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #747474;
        }
    </style>
    <title>Pointy Haired Boss</title>
</head>

<body style="padding:40px 0; background:#868686;">
    <div style="max-width:600px; margin:0 auto; float:none; font-family: 'Poppins', sans-serif; background:#FFF;">
        <ul style="margin:0; padding:5%; list-style:none; width:90%; ">
            <li style="margin:20px 0;">
                <h1 style="font-size:26px; font-weight:400; color:#000000; margin:0;">Welcome to Pointy Haired Boss !</h1>
            </li>
            <li style="margin:0 0 20px; font-size:14px; ">Hello <%-username%>,</li>
            <li style="margin:0 0 20px; font-size:14px;">You have requested for password reset. Click on the link below to reset your password.
                <div style="clear:both;"></div>
                <a href="<%-link%>" style="text-decoration:none; color:#FFF;  background:#00AEEF; padding:5px 15px; margin-top:20px; display:inline-block; border-radius:5px; ">Reset Password</a></li>
           
        </ul>

    </div>
</body>

</html>
